.d-flex {
    display: flex;

    &--col {
        flex-direction: column;
    }
}



/* Justify Content 
==================================== */
.j-sp-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}



/* Align Items 
==================================== */
.a-center {
    align-items: center;
}

.a-start {
    align-items: flex-start;
}

.a-end {
    align-items: flex-end;
}