$maxWidth: 70vw;

.main-content {
	max-width: calc(100vw - 350px);
	min-width: auto;
    margin: 0 auto;

    &--fullpage {
        height: 100vh;
    }
}



@media only screen and (max-width: 1200px) {
    .main-content {
        max-width: calc(100vw - 60px);
    }
}