.contact-info {
	width: 30%;

	&__link {
		font-size: $paragraphSize;
		font-weight: $medium;
		color: $blackFont;
		transition: all 0.5s;
		text-decoration: underline;

		i {
			font-size: 2.5rem;
		}

		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}
}



@media only screen and (max-width: 1240px) {
	.contact-info {
		width: 100%;
		margin-bottom: 5em;

		.menu-social__option {
			margin-right: 30px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}