.contact-info {
	width: 30%;

	&__link {
		font-size: $paragraphSize;
		font-weight: $bold;
		color: $blackFont;
		transition: all 0.5s;
		position: relative;
		display: inline-block;

		i {
			font-size: 2.4rem;
		}

		&:hover {
			color: inherit;
			text-decoration: underline;
		}
	}
}



@media only screen and (max-width: 1350px) {
	.contact-info {
		width: 100%;
		margin-bottom: 5em;

		.menu-social__option {
			margin-right: 30px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}