.works-page {
	margin-bottom: 30vh;

	&:first-child {
		margin-top: 155px;
	}
}

.mac-border {
	width: 45%;
	height: 50vh;
	border-radius: 16px;
	box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);

	&__top {
		height: 30px;
		background-color: $white;
		border-radius: 12px 12px 0 0;
		border-bottom: 1px solid $lightGray;
		padding: 5px 10px;
	}

	&__btn {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 10px;

		&--red {
			background-color: #FC4747;
		}

		&--orange {
			background-color: #FDB325;
		}

		&--green {
			background-color: #29C432;
		}
	}

	&--bg-1 {
		background: url('../assets/images/project-1.jpg') no-repeat center;
		background-size: cover;
	}
	&--bg-2 {
		background: url('../assets/images/project-2.jpg') no-repeat center;
		background-size: cover;
	}
	&--bg-3 {
		background: url('../assets/images/project-3.jpg') no-repeat center;
		background-size: cover;
	}
	&--bg-4 {
		background: url('../assets/images/project-4.jpg') no-repeat center 30px;
		background-size: cover;
	}
	&--bg-5 {
		background: url('../assets/images/project-5.jpg') no-repeat center 30px;
		background-size: cover;
	}
	&--bg-6 {
		background: url('../assets/images/project-6.jpg') no-repeat center 30px;
		background-size: cover;
	}
}

.project-details {
	width: 45%;

	&__name {
		margin-top: 0;
	}

	&__btn {
		width: 30%;
		margin: 30px 20px 0 0;
	}
}