.works-page {
	// margin-bottom: 30vh;
	min-height: 100vh;
	// position: relative;

	&:first-child {
		margin-top: 155px;
	}
}

/*
.project {
	width: 100%;
	cursor: pointer;
	transition: all 1s;

	&--active {
		position: absolute;
		width: 100%;
		z-index: 2;

		.mac-border {
			width: 80%;
			height: 40vw;
			margin: 155px auto 30px auto; 
		}
	}

	&--right {
		right: 0;
	}
}
*/

.overlay {
	background-color: transparent;
	color: $blackFont;
	width: 48%;
	transition: all 0.2s;
	top: 0;

	&--left {
		left: 0;
	}

	&--right {
		right: 0;
	}

	&--active {
		background-color: $white;
		position: fixed;
		width: 100%;
		height: 100vh;
		opacity: 1;
		z-index: 1;
		overflow-y: scroll;
	}

	&::-webkit-scrollbar {
		width: 0.8em;
	}
	 
	&::-webkit-scrollbar-track {
		border: 0;
	}
	 
	&::-webkit-scrollbar-thumb {
		background-color: $blackBg;
	}
}

.mac-border {
	width: 100%;
	height: 25vw;
	border-radius: 16px;
	box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
	transition: all 1s;
	cursor: pointer;

	&--active {
		width: 80%;
		height: 40vw;
		margin: 155px auto 30px auto;
		pointer-events: none;
	}

	&__top {
		height: 30px;
		background-color: $white;
		border-radius: 16px 16px 0 0;
		border-bottom: 1px solid $lightGray;
		padding: 5px 10px;
	}

	&__btn {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 10px;

		&--red {
			background-color: #FC4747;
		}

		&--orange {
			background-color: #FDB325;
		}

		&--green {
			background-color: #29C432;
		}
	}

	&__bg {
		width: 100%;
		height: 100%;
		border-radius: 0 0 16px 16px;

		&--1 {
			background: url('../assets/images/project-1.jpg') no-repeat center 0px;
			background-size: cover;
		}
		&--2 {
			background: url('../assets/images/project-2.jpg') no-repeat center 0px;
			background-size: cover;
		}
		&--3 {
			background: url('../assets/images/project-3.jpg') no-repeat center 0px;
			background-size: cover;
		}
		&--4 {
			background: url('../assets/images/project-4.jpg') no-repeat center 0px;
			background-size: cover;
		}
		&--5 {
			background: url('../assets/images/project-5.jpg') no-repeat center 0px;
			background-size: cover;
		}
		&--6 {
			background: url('../assets/images/project-6.jpg') no-repeat center 0px;
			background-size: cover;
		}
	}
	
}

.project-details {
	width: 80%;
	margin: 0 auto;
	font-size: $paragraphSize;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;

	&--active {
		visibility: visible;
		opacity: 1;
	}

	&__name {
		margin-top: 0;
	}

	&__label {
		font-weight: 400;
	}

	&__link {
		font-size: $paragraphSize;
		font-weight: $bold;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

	&__btn {
		width: 30%;
		margin: 30px 20px 0 0;
	}

	&__content {
		width: 48%;
	}

	&__list {
		font-weight: $medium;
	}
}