.d-flex {
    display: flex;

    &--col {
        flex-direction: column;
    }
}

.j-sp-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}