$white: #ffffff;
$blackBg: #232427;

$maxWidth: 70vw;

body {
    margin: 0;
    padding: 0;
    font-family: $baseFont;
	color: $blackFont;
	overflow-x: hidden;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}

.container {
	position: relative;
}

.circle-bg {
	background-color: #62E6AC;
	position: absolute;
	top: -20vh;
    right: -10vw;
    width: 45vw;
    height: 40vw;
	border-radius: 50%;
}

.main-content {
	max-width: $maxWidth;
	min-width: auto;
    margin: 0 auto;

    &--fullpage {
        height: 100vh; // 141px from header's height
    }
}