$white: #ffffff;
$blackBg: #232427;

$maxWidth: 70vw;

body {
    margin: 0;
    padding: 0;
    font-family: $baseFont;
	color: $blackFont;
	overflow-x: hidden;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}

img {
	width: 100%;
}

.container {
	position: relative;
}

.circle-bg {
	background-color: #62E6AC;
	position: absolute;
	top: -20vh;
    right: -10vw;
    width: 45vw;
    height: 40vw;
	border-radius: 50%;
}

.main-content {
	max-width: $maxWidth;
	min-width: auto;
    margin: 0 auto;

    &--fullpage {
        height: 100vh; // 141px from header's height
    }
}

.btn {
	padding: 10px 25px;
	border-width: 2px;
	border-style: solid;
	border-radius: 25px;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;

	&--main {
		border-color: $blackBg;
		background-color: $blackBg;
		color: $white;
	}

	&--secondary {
		border-color: $blackBg;
		background-color: transparent;
		color: $blackFont;
	}
}