$baseFont: 'FuturaPT';

$light: 100;
$book: 200;
$medium: 300;
$heavy: 400;
$bold: 500;
$extrabold: 600;

$blackFont: #353535;
$lightgray: #ededed;
$darkgray: #888888;

@font-face {
    font-family: $baseFont;
    src: url('../assets/fonts/FuturaPTLight.woff') format('woff');
    font-style: normal;
    font-weight: $light;
}

@font-face {
    font-family: $baseFont;
    src: url('../assets/fonts/FuturaPTBook.woff') format('woff');
    font-style: normal;
    font-weight: $book;
}

@font-face {
    font-family: $baseFont;
    src: url('../assets/fonts/FuturaPTMedium.woff') format('woff');
    font-style: normal;
    font-weight: $medium;
}

@font-face {
    font-family: $baseFont;
    src: url('../assets/fonts/FuturaPTHeavy.woff') format('woff');
    font-style: normal;
    font-weight: $heavy;
}

@font-face {
    font-family: $baseFont;
    src: url('../assets/fonts/FuturaPTBold.woff') format('woff');
    font-style: normal;
    font-weight: $bold;
}

@font-face {
    font-family: $baseFont;
    src: url('../assets/fonts/FuturaPTExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: $extrabold;
}



h1 {
    font-size: 4em;
    font-weight: $bold;
}

p {
    font-size: 1.8em;
    font-weight: $medium;
}

.span-basic {
    font-size: 1.4em;
    font-weight: $medium;
}

.span-label {
    font-size: 1.2em;
    font-weight: $bold;
}