$baseFont: 'FuturaPT';

$light: 100;
$book: 200;
$medium: 300;
$heavy: 400;
$bold: 500;
$extrabold: 600;

$blackFont: #353535;

$maxWidth: 1500px;

@import 'font';
@import 'grid';

body {
    margin: 0;
    padding: 0;
    font-family: $baseFont;
    color: $blackFont;
}


/* Header
===================================== */
.header-container {
    margin: 0 auto;
    padding: 30px 50px;
}

.header-name-text {
    font-size: 32px;
    font-weight: $bold;
}

.burger-menu {
    cursor: pointer;
    width: 40px;

    .bar {
        height: 4px;
        background-color: $blackFont;
        margin: 6px 0;
        border-radius: 10px;
        transition: all 0.5s;
    
        &__1 {
            width: 25px;
        }
    
        &__2 {
            width: 35px;
        }
    
        &__3 {
            width: 45px;
        }
    }

    &:hover {
        .bar__1 {
            width: 45px;
        }

        .bar__3 {
            width: 25px;
        }
    }
}

.main-content {
    max-width: $maxWidth;
    margin: 0 auto;

    &__fullpage {
        height: calc(100vh - 141px) // 141px from header's height
    }
}

.home-text-small {
    font-size: 22px;
    font-weight: $heavy;
    color: #d8d8d8;
    position: relative;
    padding-left: 50px;

    &:before {
        content: '';
        position: absolute;
        top: 13px;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: #d8d8d8;

    }
}

.home-name-text-big {
    font-size: 130px;
    font-weight: $bold;
    margin: 0;
    padding-left: 50px;
}