@import 'colors';
@import 'typography';



/* Base Rules
===================================== */
html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: $baseFont;
	color: $blackFont;
	overflow-x: hidden;

	// Modify scrollbar style
	&::-webkit-scrollbar {
		width: 0.8em;
	}
	 
	&::-webkit-scrollbar-track {
		border: 0;
	}
	 
	&::-webkit-scrollbar-thumb {
	  background-color: $blackBg;
	}
}

h1,
h2 {
    font-size: $headerSize;
    font-weight: $bold;
	margin: 0 0 0.6em 0;
}

p {
    font-size: $paragraphSize;
    font-weight: $medium;
    line-height: 1.4em;
	margin-top: 0;
	margin-bottom: 0.8em;
}

ul {
	font-size: $paragraphSize;
	font-weight: $medium;
	list-style: none;
	padding: 0;
	margin: 0;
}

.label {
	font-size: 1.8rem;
	font-weight: $bold;
	text-transform: uppercase;
	padding-left: 25px;
	position: relative;

	&:before {
		content: '';
		width: 15px;
		height: 3px;
		background-color: #353535;
		position: absolute;
		left: 0px;
		top: 8px;
	}
}

a {
	font-size: $paragraphSize;
	font-weight: $bold;
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}

img {
	width: 100%;
}

@include breakpoint(mobile) {
	h1,
	h2 {
		font-size: $headerSizeMobile;
	}

	p,
	ul,
	a {
		font-size: $paragraphSizeMobile;
	}

	.label {
		font-size: 1.6rem;
		padding-left: 18px;

		&:before {
			width: 10px;
			top: 7px;
		}
	}
}



/* Components
===================================== */
.container {
	position: relative;
}

.btn {
	padding: 0.8em 1em;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
	font-size: 1.8em;
	text-transform: uppercase;
	text-align: center;

	&--main,
	&--main:visited {
		border-color: $blackBg;
		background-color: $blackBg;
		color: $white;
	}

	&--secondary,
	&--secondary:visited {
		border-color: $blackBg;
		background-color: transparent;
		color: $blackFont;
	}
}

.circle-bg {
	background-color: $greenBg;
	position: absolute;
	top: -18vh;
    right: -8vw;
    width: 80vh;
    height: 75vh;
	border-radius: 50%;

	@include breakpoint(tablet) {
		top: -20vh;
		right: -25vw;
		width: 85vw;
		height: 55vh;
	}

	@include breakpoint(mobile) {
		top: -25vh;
		right: -45vw;
		width: 65vh;
		height: 70vh;
	}
}

// @media only screen and (max-width: 1024px) {
// 	.circle-bg {
// 		top: -20vh;
// 		right: -25vw;
// 		width: 85vw;
// 		height: 55vh;
// 	}
// }

// @media only screen and (max-width: 600px) {
// 	.circle-bg {
// 		top: -25vh;
// 		right: -45vw;
// 		width: 65vh;
// 		height: 70vh;
// 	}
// }