@import 'colors';
@import 'typography';



/* Base Rules
===================================== */
html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: $baseFont;
	color: $blackFont;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 0.8em;
	}
	 
	&::-webkit-scrollbar-track {
		border: 0;
	}
	 
	&::-webkit-scrollbar-thumb {
	  background-color: $blackBg;
	}
}

h1,
h2 {
    font-size: $headerSize;
    font-weight: $bold;
	margin: 0 0 0.6em 0;
	position: relative;
	
	&:after {
		// content: '';
		position: absolute;
		bottom: -12px;
		left: 0;
		width: 1.4em;
		height: 0.2em;
		background-color: $orangeBg;
		border-radius: 5px;
		z-index: -1;
	}
}

p {
    font-size: $paragraphSize;
    font-weight: $medium;
    line-height: 1.4em;
	margin-top: 0;
	margin-bottom: 0.8em;
}

@media only screen and (max-width: 650px) {
	h1,
	h2 {
		font-size: $headerSizeMobile;
	}

	p {
		font-size: $paragraphSizeMobile;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}

img {
	width: 100%;
}



/* Components
===================================== */
.container {
	position: relative;
}

.btn {
	padding: 0.8em 1em;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
	font-size: 1.8em;
	text-transform: uppercase;
	text-align: center;

	&--main,
	&--main:visited {
		border-color: $blackBg;
		background-color: $blackBg;
		color: $white;
	}

	&--secondary,
	&--secondary:visited {
		border-color: $blackBg;
		background-color: transparent;
		color: $blackFont;
	}
}

.circle-bg {
	background-color: $greenBg;
	position: absolute;
	top: -18vh;
    right: -8vw;
    width: 80vh;
    height: 75vh;
	border-radius: 50%;
}



@media only screen and (max-width: 1370px) {
    // html {
    //     font-size: 14px;
    // }
}

@media only screen and (max-width: 1000px) {
	// html {
	// 	font-size: 13px;
	// }

	.circle-bg {
		top: -20vh;
		right: -25vw;
		width: 85vw;
		height: 55vh;
	}
}

@media only screen and (max-width: 800px) {
	// html {
	// 	font-size: 11px;
	// }
}

@media only screen and (max-width: 600px) {
	.circle-bg {
		top: -25vh;
		right: -45vw;
		width: 65vh;
		height: 70vh;
	}
}