/* Colors for Font
===================================== */
$blackFont: #353535;
$lightGray: #ededed;
$darkGray: #888888;
$white: #ffffff;

/* Color for Background
===================================== */
$blackBg: #232427;
<<<<<<< HEAD
$greenBg: #62E6AC;
=======
$greenBg: #62E6AC;
$yellowBg: #FBE76C;
$blueBg: #A0C2D8;
$pinkBg: #FFCCBB;
$grayPinkBg: #C6BABA;
$redBg: #E94345;
>>>>>>> 70696cf1f4f8bf05523179b423aea4bbab687a04
