/* Colors for Font
===================================== */
$blackFont: #353535;
$lightGray: #ededed;
$darkGray: #888888;
$white: #ffffff;

/* Color for Background
===================================== */
$blackBg: #232427;
$greenBg: #62E6AC;
$yellowBg: #FBE76C;
$blueBg: #A0C2D8;
$pinkBg: #FFCCBB;
$grayPinkBg: #C6BABA;