$baseFont: 'FuturaPT';

$medium: 300;
$bold: 500;

$headerSize: 6rem;
$paragraphSize: 2.4rem;

$headerSizeMobile: 4rem;
$paragraphSizeMobile: 2rem;

@font-face {
    font-family: $baseFont;
    src: url('../assets/fonts/FuturaPTMedium.woff') format('woff');
    font-style: normal;
    font-weight: $medium;
}

@font-face {
    font-family: $baseFont;
    src: url('../assets/fonts/FuturaPTBold.woff') format('woff');
    font-style: normal;
    font-weight: $bold;
}